.active{
    font-weight: 700;
    font-size: 20px;
    color:#00afaa !important;
}

ul li:last-child{
    background-color: #00afaa;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
}

ul li:last-child a{
    color: white !important;
}

ul li:last-child:hover{
    background-color: transparent;
    border: 1px solid #00afaa;
}

ul li:last-child:hover a{
    color: #00afaa !important;
    
}

#banner{
    background-image: url("images/ima.jpg");
}

.btn{
    color: white;
    border-radius: 20px;
    background-color: #00afaa;
    transition: all 1s ease-in-out;
}

.btn:hover{
    color: #00afaa !important;
    background-color: transparent;
    border: 1px solid #00afaa;
}

#automotive{
    margin: 0;
}