.active{
    font-weight: 700;
    font-size: 20px;
    color:#00afaa !important;
}

nav ul li:last-child{
    background-color: #00afaa;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
}

nav ul li:last-child a{
    color: white !important;
}

nav ul li:last-child:hover{
    background-color: transparent;
    border: 1px solid #00afaa;
}

nav ul li:last-child:hover a{
    color: #00afaa !important;
    
}

#banner{
    background-image: url("images/ima.jpg");
}

.mybutton{
    color: white;
    border-radius: 20px;
    background-color: #00afaa;
    transition: all 1s ease-in-out;
}

.mybutton:hover{
    color: #00afaa !important;
    background-color: transparent;
    border: 1px solid #00afaa;
}

#automotive{
    margin: 0;
}

.card{
    border: none;
}

.card-img, .card-img-top{
    height: 300px !important;
    width: 400px;
}

ul{
    list-style: none;
    color: rgb(202, 198, 198);
    font-size: 20px;
}

hr{
    width: 100%;
    border: 2px solid rgb(202, 198, 198);
}